button, .button {
     display: flex;
     justify-content: center;
     align-items: center;
     width: max-content;
     border-radius: 0.3rem;
     padding: 1rem 2rem;
     font-weight: 600;
     cursor: pointer;
     letter-spacing: 1px;
}

button svg {
     margin-left: 0.5em;
}

button.color1,
.button.color1
 {
     background:  var(--color1);
     color: white;
     font-size: 0.87rem;
     padding: 0.75rem 1.5rem;
}

button.color2,
.button.color2
 {
     background: transparent;
     color: var(--color1);
     font-size: 1rem;
     border: 1px solid var(--color1);
     stroke: var(--white);
}