@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
     --color1: #0077b5;
     --color2: #252525;
     --dark: #141519;
     --white: #ffffff;
     --text: #454545;
     --black-l: #dfdfdf;

     /* Fonts */
     --Font1: "Roboto", sans-serif;
     --Font2: "Noto Serif", serif;

     font-size: 16px;
     color: var(--text);

     --container-width: 1024px;
     --device-lg: 300px;
     --device-md: 760px;
     --device-sm: 600px;

     --header-height: 80px;
     --footer-height: 80px;

     scroll-behavior: smooth;
}

* {
     border: 0;
     margin: 0;
     padding: 0;
     outline: none;
     font-family: var(--Font1);
     box-sizing: border-box;
}

body {
     position: relative;
}

.container {
     width: var(--container-width);
     margin: 0 auto;
}

a {
     text-decoration: none;
     color: inherit;
}

section.head {
     text-align: center;
}

section.dark {
     color: var(--white);
     background-color: var(--dark);
     padding: 3rem 0;
}

section.dark .section-desc {
     font-size: 0.87rem;
     width: 70%;
     margin: 0 auto;
     margin-top: 1.5rem;
}

@media screen and (max-width: 600px) {
     :root {
          --container-width: 100%;
     }

     .container {
          padding: 0 1rem;
     }

     section.dark .section-desc {
          width: 100%;
     }
}

/*****************************************************/
/*   Header                                         */
/*****************************************************/

header {
     display: flex;
     align-items: center;
     height: var(--header-height);
     box-shadow: 0 3px 10px rgba(137, 137, 137, 0.2);
}

header .header {
     display: flex;
     align-items: center;
     justify-content: space-between;
}

header nav a {
     margin-left: 2rem;
}

.menu-btn {
     display: none;
     flex-direction: column;
     justify-content: space-between;
     width: 35px;
     height: 25px;
}

.menu-btn div {
     display: block;
     background-color: black;
     height: 3px;
     width: 100%;
     margin: 1px 0;
     border-radius: 5px;
}

@media only screen and (max-width: 600px) {
     .menu-btn {
          display: flex;
     }

     header nav {
          background-color: white;
          /* display: none; */
          position: fixed;
          /* top: var(--header-height); */
          /* height: calc(100vh - var(--header-height)); */
          top: 100vh;
          left: 0;
          right: 0;
          height: 50vh;
          width: 100vw;
          transition: 0.3s ease-in-out;
          z-index: 200;

          display: flex;
          flex-direction: column;
          justify-content: center;
          /* align-items: center; */

          padding: 2rem;
          box-shadow: 0 -10px 10px rgba(115, 115, 115, 0.2);
          border-radius: 2rem 2rem 0 0;
     }

     header nav a{
          margin-top: 2rem;
     }

     header .mobile nav {
          /* display: block; */
          top: 50vh;
     }
}

/*****************************************************/
/*   Landing                                         */
/*****************************************************/

#landing-sect {
     display: flex;
     align-items: center;
     padding: 6rem 0;
     /* height: calc(100vh - var(--header-height)); */
}

.landing {
     display: flex;
     align-items: center;
}

.landing-left {
     min-width: 50%;
}

.landing-left h1 {
     color: var(--color1);
     margin-bottom: 3rem;
}

.landing-left a {
     margin-top: 3rem;
}

@media only screen and (max-width: 600px) {
     .landing {
          flex-direction: column;
          align-items: center;
     }

     .landing-right {
          width: 100%;
     }
}

/*****************************************************/
/*   What we do                                      */
/*****************************************************/

#what-w-d-sect {
     background-color: #fbfcff;
     padding: 6rem 0;
}

.what-we-do {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-gap: 3rem;
}

.what-we-do .card {
     background-color: white;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 2rem;
     text-align: center;
     box-shadow: 0 2px 10px rgba(184, 184, 184, 0.2);
     border-radius: 0.5rem;
}

.what-we-do .card .img {
     background-color: var(--color1);
     width: min-content;
     margin-bottom: 1.5rem;
     border-radius: 50%;
}

.what-we-do .card h5 {
     margin-bottom: 1rem;
}

@media only screen and (max-width: 600px) {
     .what-we-do {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          grid-gap: 3rem;
     }
}

/*****************************************************/
/*   About                                         */
/*****************************************************/

#about-sect {
     padding: 6rem 0;
}

.about-sect {
     display: grid;
     grid-template-columns: 1.5fr 1fr;
     grid-gap: 6rem;
     align-items: center;
}

.about-left {
     min-width: 60%;
}

.about-left h1 {
     margin-bottom: 2rem;
}

.about-left p {
     margin-bottom: 1rem;
}

.about-right {
     justify-items: flex-end;
     max-width: 100%;
     border-radius: 0.5rem;
}

@media only screen and (max-width: 600px) {
     .about-sect {
          grid-template-columns: 1fr;
     }
}

/*****************************************************/
/*   Partners                                        */
/*****************************************************/

#partners {
     padding: 6rem 0 8rem;
}

.partners {
     display: grid;
     grid-template-columns: repeat(4, minmax(0, 1fr));
     grid-gap: 6rem;
     align-items: center;
}

.partners img {
     max-width: 100%;
}

@media only screen and (max-width: 600px) {
     .partners {
          grid-template-columns: 1fr 1fr;
          grid-gap: 2rem;
     }
}

/*****************************************************/
/*   Contact us                                         */
/*****************************************************/

#contact-us {
     position: relative;
     background: url("../img/map.PNG") no-repeat;
     background-position: center;
     background-size: cover;
     height: 600px;
}

.contact-us {
     display: flex;
     align-items: center;
     position: relative;
     z-index: 2;
     height: 100%;
}

#contact-us::before {
     position: absolute;
     background-color: rgba(27, 27, 27, 0.5);
     content: "";
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
}

.contact-us .address {
     color: var(--white);
}

.contact-us .address .label {
     display: inline-block;
     background-color: var(--color1);
     color: var(--white);
     margin-bottom: 2rem;
     padding: 0.75rem 1rem;
}

#contact-us form {
     position: absolute;
     background-color: white;
     top: -10px;
     right: 0;
     padding: 2rem;
     box-shadow: 0 3px 10px rgba(137, 137, 137, 0.2);
     border-radius: 0.5rem;
}

#contact-us form h2 {
     color: var(--color1);
     margin-bottom: 2rem;
}

@media only screen and (max-width: 600px) {
     #contact-us form {
          top: 1rem;
          right: 1rem;
          left: 1rem;
     }
}

/*****************************************************/
/*   Footer                                         */
/*****************************************************/

footer {
     height: var(--footer-height);
     display: flex;
     align-items: center;
     box-shadow: 0 3px 10px rgba(137, 137, 137, 0.2);
}

footer .footer {
     display: flex;
     align-items: center;
     justify-content: space-between;
}

/* @media screen and (min-width: 320px) {
     html {
          font-size: calc(16px + 8 * ((100vw - 320px) / 680));
     }
}
@media screen and (min-width: 1000px) {
     html {
          font-size: 18px;
     }
} */
