@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
     --color1: #545bdc;
     --color2: #252525;
     --dark: #141519;
     --white: #ffffff;
     --text: #454545;
     --black-l: #dfdfdf;

     /* Fonts */
     --Font1: "Roboto", sans-serif;
     --Font2: "Noto Serif", serif;

     font-size: 16px;
     color: var(--text);

     --container-width: 1024px;
     --device-lg: 300px;
     --device-md: 760px;
     --device-sm: 600px;

     --header-height: 80px;
     --footer-height: 100px;
}

* {
     border: 0;
     margin: 0;
     padding: 0;
     outline: none;
     font-family: var(--Font1);
     box-sizing: border-box;
}

.container {
     width: var(--container-width);
     margin: 0 auto;
}

a{
     text-decoration: none;
     color: inherit;
}

button {
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 0.3em;
     padding: 1.5em 3em;
     font-weight: 600;
     cursor: pointer;
     letter-spacing: 1px;
}

button svg {
     margin-left: 0.5em;
}

button.color2 {
     background: transparent;
     color: var(--color1);
}

button.color2 {
     background: var(--color1);
     color: var(--white);
     stroke: var(--white);
}

section.head {
     text-align: center;
}

section.dark {
     color: var(--white);
     background-color: var(--dark);
     padding: 3rem 0;
}

section.dark .section-desc {
     font-size: 0.87rem;
     width: 70%;
     margin: 0 auto;
     margin-top: 1.5rem;
}





header {
     display: flex;
     align-items: center;
     height: var(--header-height);
     box-shadow: 0  3px 10px rgba(137, 137, 137, 0.2);
}

header .header {
     display: flex;
     align-items: center;
     justify-content: space-between;
}

header nav a {
     margin-left: 2rem;
}





#landing-sect{
     display: flex;
     align-items: center;
     padding: 6rem 0;
     /* height: calc(100vh - var(--header-height)); */
}

.landing{
     display: flex;
     align-items: center;
}

.landing-left{
     min-width: 50%;
}

.landing-left h1{
     margin-bottom: 3rem;
}

.landing-left button{
     margin-top: 3rem;
}





#what-w-d-sect{
     background-color: #fbfcff;
     padding: 6rem 0;
}

.what-we-do{
     display: grid;
     grid-template-columns: repeat(3 , 1fr);
     grid-gap: 3rem;
}


.what-we-do .card{
     background-color: white;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 2rem;
     text-align: center;
     box-shadow: 0  2px 10px rgba(184, 184, 184, 0.2);
     border-radius: 0.5rem;
}

.what-we-do .card .img{
     background-color: var(--color1);
     width: min-content;
     margin-bottom: 1.5rem;
     border-radius: 50%;
}

.what-we-do .card h5{
     margin-bottom: 1rem;
}





#about-sect{
     padding: 6rem 0;
}

.about-sect{
     display: grid;
     grid-template-columns: 1.5fr 1fr;
     grid-gap: 6rem;
     align-items: center;
}

.about-left{
     min-width: 60%;
}

.about-left h1{
     margin-bottom: 2rem;
}

.about-left p{
     margin-bottom: 1rem;
}


.about-right{
     justify-items: flex-end;
     max-width: 100%;
     border-radius: 0.5rem;
}





#partners{
     padding: 6rem 0;
}

.partners{
     display: grid;
     grid-template-columns: repeat(4, minmax(0, 1fr));
     grid-gap: 6rem;
     align-items: center;
}

.partners img{
     max-width: 100%;
}

/* @media screen and (min-width: 320px) {
     html {
          font-size: calc(16px + 8 * ((100vw - 320px) / 680));
     }
}
@media screen and (min-width: 1000px) {
     html {
          font-size: 18px;
     }
} */
